{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="symbol" placeholder="Symbol" autocomplete="off" autofocus class="form-control mx-auto w-auto" required>
                <option disabled selected value> Please select </option>
                {% for i in stocks_opt %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input name="shares" placeholder="Shares" type="number" step="1" autocomplete="off" autofocus class="form-control mx-auto w-auto">
        </div>
    </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}