{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Company Name</th>
            <th>Current Price</th>
            <th>Total Value</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(data | length) %}
        <tr>
            <td>{{ data[0][i] }}</td>
            <td>{{ data[1][i] }}</td>
            <td>{{ data[2][i] }}</td>
            <td>{{ data[3][i] }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <br>
    <h4>Current Cash Balance: {{ data[4] | usd }}</h4>
    <h4>Total Value of Stocks: {{ data[5] }}</h4>
{% endblock %}
